@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Releway';
  src: url('./assets/fonts/raleway-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}